<header class="font-link py-3 mb-5">
<div class="flex justify-evenly">

    <div class="absolute left-4">
                    <div id="logo" class="text-black font-bold text-xl relative z-50">Logo</div>

    </div>
    <div class="flex fixed space-x-7 backdrop-blur-sm p-3 px-5 bg-white/20 rounded-3xl text-black font-bold">
        <div class="hover:text-white/60  duration-300 ease-in-out">Home</div>
        <div class=" hover:text-white/60 duration-300 ease-in-out">Resize</div>
        <div class=" hover:text-white/60 duration-300 ease-in-out">Compress</div>
        <div class=" hover:text-white/60 duration-300 ease-in-out">Convert</div>
        <div class=" hover:text-white/60 duration-300 ease-in-out">Passport</div>
    </div>
    <div class="absolute right-4 bg-primary p-2 rounded-3xl px-3 text-white">Get Started</div>
    
</div>

</header>